[Desktop Entry]
Type=Application
Name=AppImage Manager
Comment=Import, organize and launch AppImage applications
Exec=appimage-manager
Icon=io.github.Pedrossl.appimage_manager
Terminal=false
NoDisplay=false
Categories=Utility;
Keywords=AppImage;Launcher;Applications;Desktop;Linux;
StartupNotify=true
