[Desktop Entry]
Type=Application
Name={{name}}
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Terminal=false
NoDisplay=false
Categories={{categories}}
Keywords=AppImage;Launcher;Applications;Desktop;Linux;
StartupNotify=true
